@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:'Poppins', sans-serif;
}

/*header styling*/
header{
  height: 60px;
  background-color: #134361;
  display: flex;
  justify-content:center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.logo-container{
  margin-left:5px;

}

.logo{
  width: 80px;
}

.nav-link{
  margin-left: 700px;
  color: white;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-links{
  color: white;
  text-decoration: none;
}
.nav-links:hover{
  text-decoration: underline;
}

.hero{
  height:20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 180px;
  
}

.hero-img{
  width: 100%;
  padding-top: 5px;
}
.main-container{
  background: linear-gradient(rgba(0,2,2,0.5),
   rgba(0,0,0,0.5)) ,url(images/IMG_1028.JPG);
  background-size: cover;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Poppins', sans-serif;
}
.main-text{
  text-align: center;
  color: white;
  padding-top: 250px;
  
}
.main-text-h2{
  font-size: 50px;
}
.main-text-p{
  font-size: 25px;
}
.section{
  height: 40px;
  width:600px;
  margin-top: 40px;
  margin-left: 300px;
  text-align: center;
}
.section2{
  height: 40px;
  width:600px;
  margin-top: 90px;
  margin-left: 300px;
  text-align: center;
}
.card{
  height: 400px;
  width: 400px;
  margin-top: 130px;
  margin-left: 400px;
  box-shadow: 0px 6px 10px 0px;
}
.card-text{
  text-align: center;
  padding-top: 15px;
  color: red;
}
.text2{
  display:flex;
  text-align: center;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}

footer{
  height: 150px;
  background-color: #134361;
  display: flex;
  justify-content:center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.last-container{
  display: flex;
  gap: 300px;
  padding-left: 90px;
  padding-right: 90px;
}
.mycontain ul{
  padding-top: 15px;
}
.mycontain ul li a{
  text-decoration: none;
  color: white;
}
.mycontain ul li a:hover{
  text-decoration: underline;
}
.mycontain2 ul{
  list-style-type: none;
}
.mycontain2 ul li a{
  text-decoration: none;
  color: white;
}
.mycontain2 ul li a:hover{
  text-decoration: underline;
}


