*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.number1{
  display: flex;
  justify-content: flex-start;
  margin-bottom:0;
}*/
.container1{
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  padding-bottom: 0px;
}
.flight{
  height: 70px;
  background-color: blue;
  color: white;
  border: 2px solid blue;
  margin: 9px;
  padding: 10px;
}
.hotel{
  height:50px;
  border: 2px solid white;
  margin: 9px;
  padding: 10px;
}
.visa{
  height: 50px;
  border: 2px solid white;
  margin: 9px;
  padding: 10px;
}
.big-container{
  height: 35vh;
  width: 1000px;
  background-color: blue;
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
  padding-top: 0px;
}
 
#trip{
  display: flex;
  position: absolute;
  top: 250px;
  left: 29px;

}
.trip{
  height:40px;
  width: 150px;
  color: white;
  background-color: rgb(50, 6, 248);
  border: 2px solid blue;
  margin: 9px;
  padding: 10px;
}

.passenger{
  height:40px;
  width: 150px;
  color: white;
  background-color: rgb(50, 6, 248);
  border: 2px solid blue;
  margin: 9px;
  padding: 10px;
}
.economy{
  height:40px;
  width: 150px;
  color: white;
  background-color: rgb(50, 6, 248);
  border: 2px solid blue;
  margin: 9px;
  padding: 10px;
}

